<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>
    {% if page.url != "/" %}10x Bitcoin Security Guide | {% endif %}
    {{ page.title }}
  </title>

  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177242276-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-177242276-1');
  </script>

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
	  <ul class="navbar-nav mr-auto">
	    {% for item in site.data.navigation %}
	      {% assign cleaned_url = page.url | split: ".html" | first %}
	      <li class="nav-item {% if cleaned_url == item.link %}active {% endif%}">
		  <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
	      </li>
	    {% endfor %}
	  </ul>
	</div>
      </div>
    </nav>
  </header>

  <!-- Begin page content -->
  <main role="main" class="container">
    {% if page.url != '/' and page.url != '/contributors.html' and page.url != '/disclaimer.html' and page.url != '/compensation.html' %}
	<p>
	{% include breadcrumbs.html %}
	</p>
    {% endif %}
    <h1>
      {% if page.url contains "known-issues/" %}Known Issues:{% endif %}
      {{page.title}}
      {% if page.url == "advanced" or page.url contains "-advanced" %} &raquo; Advanced Considerations{% endif %}
    </h1>

    <hr />

    <div class="mb-5">
      {{ content }}
    </div>
    
    <br /><br /><br /> {% comment %}FIXME{% endcomment %}

  </main>

  <a class="github-fork-ribbon right-bottom" href="https://github.com/btcguide/btcguide.github.io" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a> 

  <footer class="footer">
    <div class="container">
      <span class="text-muted">By <a href="https://twitter.com/mflaxman">@mflaxman</a></span>
    </div>
  </footer>

</body>

</html>
